*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 27%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22vh;
}
#quote-container{
    width: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    padding: 7rem 2rem 3rem;
    border-radius: 36px;
    h1{
        color: #154874;
        margin-bottom: 9vh;
        margin-top: -10vh;
    }
    .quote{
        display: flex;
        flex-direction: column;
        align-items: center;
        .quote-content,.author{
            margin-bottom: 2vh;
        }
        .author{
            align-self: flex-end;
        }
    }
        button{
            width: 100%;
            padding: 1rem;
            color: #edcfa3;
            font-size: 1rem;
            cursor: pointer;
            background-color: #313552c2;
            border-radius: 10px;
            margin-top: 3vh;
            margin-bottom: .7vh;
        }
    }

@media (min-width: 320px) and (max-width: 480px) {
    body{
        height: 592px;
        background-position-y: 0;
    }
    .container{
        margin-top: 8vh;
    }
    #quote-container{
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        text-align: center;
        margin: 0 8vw;
        h1{
            font-size: 1.2rem;
            margin-bottom: 6vh;
            margin-top: -13vh;;
        }
        .quote{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.9rem;
            .quote-content,.author{
                margin-bottom: 2vh;
            }
            .author{
                align-self: center;
            }
        }
        button{
            font-size: 0.9rem;
            padding: 1rem;
            border-radius: 10px;
            margin-top: 3vh;
            margin-bottom: .4vh;
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    body{
    height: 592px;
    background-position-y: 0;
    }
    .container{
        margin-top: 8vh;
    }
    #quote-container{
        // width: 45%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        text-align: center;
        margin: 0 8vw;
        h1{
            font-size: 1.2rem;
            margin-bottom: 6vh;
            margin-top: -13vh;;
        }
        .quote{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.9rem;
            .quote-content,.author{
                margin-bottom: 2vh;
            }
            .author{
                align-self: center;
            }
        }
        button{
            font-size: 0.9rem;
            padding: 1rem;
            border-radius: 10px;
            margin-top: 3vh;
            margin-bottom: .4vh;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    body{
    height: 592px;
    background-position-y: 0;
    }
    .container{
        margin-top: 8vh;
    }
    #quote-container{
        // width: 45%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        text-align: center;
        margin: 0 8vw;
        h1{
            font-size: 1.2rem;
            margin-bottom: 6vh;
            margin-top: -13vh;;
        }
        .quote{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.9rem;
            .quote-content,.author{
                margin-bottom: 2vh;
            }
            .author{
                align-self: center;
            }
        }
        button{
            font-size: 0.9rem;
            padding: 1rem;
            border-radius: 10px;
            margin-top: 3vh;
            margin-bottom: .4vh;
        }
    }
}
